<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILibraryService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/LibraryService/Service1/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILibraryService" contract="LibraryServiceReference.ILibraryService" name="BasicHttpBinding_ILibraryService"/>
        </client>
    </system.serviceModel>
</configuration>
